*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    max-width: 100%;
   
    
    
    
}
.content-app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #edecee;
   

}

.app{
    width: 100%;
    max-width: 100%;
    height: 100vh;    
}


header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d2147;
    box-shadow: 0px 8px 11px -2px rgba(0,0,0,0.16);
    
}

.container-main-menu{
    width: 98%;
    height: 100%;
}
.menu{
    width: 100%;
    height: 60px;
    background-color: #133e7c;
    text-align: end;
    
    
}

.menu a{
    color: white;
    text-decoration: none;
    width: 100px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center ;
    
}
.menu a:hover{
    color: white;
    text-decoration: none;    
    background-color: #f72585;
   
}


nav{
    display:inline-flex;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;   

}


.input-img-perfil{
    display: none;
}

.perfil-picture{

    
    height: 100px;
    width: 100px;
    min-width:100px;
    border: 3px solid #003a5d;
    border-radius: 50%;
    background-color: #2b729e ;    
    transition: ease-out 200ms;
    cursor: pointer;
}

.perfil-picture:hover{
    transform: scale(1.04);
}

.hero-description{
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
    
}
.bar-container{
    display: flex;
}

.bar-container p{
    color: white;
    margin-top: 5px;
    margin-left: 10px;

}

.exp-bar{
    width: 400px;
    height: 20px;
    margin-top: 5px;
    border-radius: 7px;
    background-color: gray;
    opacity: 80%;

}

.progress{
    width: 0%;
    max-width: 100%;
    height: 20px;
    background-color: #f72585;
    transition: 0.7s;
    border-radius: 7px;

}



.level{

    width: 40px;
    height: 60px;
    padding-top: 15px;
}

.level h4{
    color: white;
    font-size: 60px;
}



/* task menu */

.task-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.nav-task{
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    background-color: transparent;
}

.nav-noaction{
    font-family: poppins;
    text-decoration: none;
    color: #305972c3;
    padding: 10px;
}

.nav-action{
    font-family: poppins;
    text-decoration: none;
    color: white;
    background-color: #f72585;
    border-radius: 9px;
    padding: 10px;
    
}
/*  Task content*/

#section-task{
    background-color: transparent;
}

#task-content{
    
    width: 80%;
    text-align: justify;
    margin: auto;
    padding-bottom: 20px;
   
    
    }
/***task card**/
.task{
    display: inline-flex;
    width: 300px;
    max-width: 300px;
    height: 110px; ;
    min-height:65px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 11px -2px rgba(0,0,0,0.16);
}


.container-task{
    width: 75%;
    height: 80%;
    max-width: 80%;
    padding-left: 20px;
    margin-top: 15px;
   
}

.title{
    width: 90%;
    font-size: 16px;
    font-weight: 800;
}

.description{
    font-size: 14px;
    font-weight: 300;
    height: auto;
}
.check-container{
    background-color: #163f70;
    width: 50px;
    min-width: 50px;
    height: 100%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    

}
.delate-container{
    background-color: #163f70;
    width: 50px;
    min-width: 50px;
    height: 100%;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.task-complete-false{
    border-radius: 250px;
    width: 25px;
    height: 25px;
    background-color: white;
    margin-bottom: 10px;
    z-index: 100;
    cursor: pointer;
    display: inline;
}

.task-complete-false:hover{
    border-radius: 250px;
    width: 25px;
    height: 25px;
    background-color: #54e823;
    margin-bottom: 10px;
    z-index: 100;
    cursor: pointer;
    display: inline;
    
    
}



.task-complete-true{

    border-radius: 250px;
    width: 25px;
    height: 25px;
    background-color: white;
    margin-bottom: 10px;
    z-index: 100;
    cursor: pointer;
    display: inline;

    
}

.task-complete-true:hover{
    border-radius: 250px;
    width: 25px;
    height: 25px;
    background-color: #54e823;
    margin-bottom: 10px;
    z-index: 100;
    cursor: pointer;
    display: inline;
    transition: 0.3s;
}

.task-completed{


    display: inline-flex;
    min-width: 300px;
    height: 110px; ;
    min-height:65px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 11px -2px rgba(0,0,0,0.16);
    filter: grayscale(50);
   
}

/*menu add task */


#close-task{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    font-size: 30px;
    color: gray;
    cursor: pointer;
    
}

.delateTask{
    color:white;
    background-color: transparent;
    border: 0;
    font-size: 27px;
    z-index: 200;
    padding-bottom: 10px;
    cursor: pointer;
}

.delateTask:hover{
    color: gray;
}

.main-and-tasks{
    position: fixed;
    bottom: 20px;
    right: 20px;
   
    
}
.section-open-task-menu{
    width:100px;
    min-width: 100px;
    height: 100px;
    border-radius:100px;
    border: 5px solid #f72585;  
    box-shadow: 0px 8px 8px -2px rgba(0,0,0,0.21);
    background-color: #003a5d;
}

.section-open-task-menu:hover{
    transform: scale(1.06);
    transition: 0.5s;
}


#open-task{
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  
    
}


.icon{
    width: 40px;
    height: 40px;
    text-align: center;
    background-image: url('../Assets/icons/plus.png');
    background-size: cover;
    background-repeat: none;
    filter: hue-rotate(60deg) brightness(500%);
}

/*habits-content*/
#section-habit{
    display: none;
}

#habit-content{

    width: 80%;
    margin: auto;
}
/* ------- */
.main-and-habit{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#open-habit{
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#open-habit p{
    padding-top: 10px;
    padding-left: 20px;
    color: #b2b2b2;
}

.main-menu-habit{
    width: 30px;
    height: 100%;
    background-image: url(https://www.samueldiosdado.com/wp-content/uploads/2017/08/Men%C3%BA-hamburguesa-herramienta-practica-o-icono-inutil.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    background-color: white;
    background-position-y: center;
    border-right: solid white 15px;
}

.arrow-ico{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    letter-spacing: -3px;
    color: gray;
}

#button-plus{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: none;
  margin-bottom: 10px;
  background-color: #b1b0b0e0;
  font-size: 22px;
  color: white;
  cursor: pointer;

}

#button-plus:hover{
    background-color: #7c7c7ce0;
    transition: 0.2s;
  }

  #button-less{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    margin-bottom: 10px;
    background-color: #b1b0b0e0;
    font-size: 22px;
    color: white;
    cursor: pointer;
  
  }

  #button-less:hover{
    background-color: #7c7c7ce0;
    transition: 0.2s;
  }

/*random section */

#section-random{
    display: none;
}

#random-content{

    width: 80%;
    text-align: justify;
    margin: auto;
}
/* ------- */
.main-and-random{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#open-random{
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#open-random p{
    padding-top: 10px;
    padding-left: 20px;
    color: #b2b2b2;
}

.main-menu-random{
    width: 30px;
    height: 100%;
    background-image: url(https://www.samueldiosdado.com/wp-content/uploads/2017/08/Men%C3%BA-hamburguesa-herramienta-practica-o-icono-inutil.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    background-color: white;
    background-position-y: center;
    border-right: solid white 15px;
    
}

/* 2.-Add tasks menu*/

/*container and section */

#container-add-task{
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(80%) blur(2px);   
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10000;
    
}



/*nav agg task*/ 

.nav-section{
    width: 100%;
    height: 120px;   
}

.text-mision{
    width: 100%  ;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;

    
}

.text-mision h3{
    margin-top: 15px;
}

.button-back{
    width: 95%;
    height: auto;
    text-align: right;
    
}

.done-button{
    width: 100%;
    height: 50px;
    display: blockf;
    background-color: #003a5d;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    
}

.done-button-container{
width: 100%;
padding-left: 50px;
padding-right: 50px;
padding-top: 10px;

}



/* inputs */

.task-title-description{
   
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
    margin-bottom: 20px;

}

.task-title-description p{
    color: #46436e;
    font-size: 13px;
    font-weight: 600;
    margin-top: 2px;
    font-size: 14px;
}

.section-add-task{
    width: 500px;
    height: auto;
    background-color: #F9F9F9;
    border-radius: 25px;
    }

.hero-name{
    width: 120px;
    background-color: transparent;
    border: 0;
    outline: none;
    color: white;
    max-width: 150px;
    font-size: 1.2em;
}

.hero-description-text{
    width: 180px;
    background-color: transparent;
    border: 0;
    outline: none;
    color: cyan;
    font-weight:100;
    
}

.button-edit-name{
    width: 10px;
    height: 10px;
    background-image: url(../Assets/icons/editar.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(100);
    display: inline-block;
    cursor: pointer;
}
.button-edit-description{
    width: 10px;
    height: 10px;
    background-image: url(../Assets/icons/editar.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(100);
    display: inline-block;
    cursor: pointer;
}


#input-task{
    background-color: #e5e5e5 ;
    width: 380px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
}



#input-description{
    background-color: #e5e5e5 ;
    width: 380px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;    
}

#done-button-task{
    background-color: white;
    color:#003a5d ;
    border-radius: 9px;
    padding: 5px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}



#cancel-button{
    background-color: white;
    color:#003a5d ;
    border-radius: 9px;
    padding: 5px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;
    cursor: pointer;
}

  
/*Container habits */

#container-add-habit{
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(80%) blur(2px);   
    display: none;
    align-items: center;
    justify-content: center;
    position:absolute;
    z-index: 10000;    
}


.section-add-habit{
    width: 500px;
    height: auto;
    background-color: #F9F9F9;
    border-radius: 25px;
}

/*nav*/

.text-habit{
    width: 100%  ;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.text-habit h3{
    margin-top: 15px;
}

/*inputs habitos */

.habit-title-description{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
}

#input-habit{
    background-color: #e5e5e5 ;
    width: 380px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
}

#input-description_habit{
    background-color: #e5e5e5 ;
    width: 380px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;  
}

#close-habit{
    margin-left: 20px;
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

#done-button-habit{
    background-color: white;
    color:#003a5d ;
    border-radius: 9px;
    padding: 5px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}



/* Tarjets habits */

.habit{
    display: inline-flex;
    width: 300px;
    max-width: 300px;
    height: 110px; ;
    min-height:65px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 11px -2px rgba(0,0,0,0.16);
}

.container-habit{
    width: 75%;
    height: 80%;
    padding-left: 20px;
    margin-top: 15px;
}

.container-counter{
    display: flex; 
    width: 120px;
    max-width: 120px;
    height: auto;
    padding-top: 75px;
    margin-right: 10px;
    
}
.container-counter p{
    font-weight: bold;
    font-size: 12px;
    color: gray;
}

.select-task{
    cursor: move;
}

.fantasma{
    opacity: 0;
    cursor: move;   
}
