*{
    margin: 0;
    padding: 0;;
}
body{
    width: 100vw;
    
    
}
.content-app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f5a6e;
    position: absolute;

}

.app{
    width: 500px;
    height: 630px;
    background-color: aliceblue;
    
}


header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

header nav{
    background-color: aqua;
    display: flex;
    padding: 10px;
    width: 100%;
    
}

.perfil-picture{

    width: 40px;
    height: 40px;
    background-color: red;    
}

.hero-description{
    width: 400px;
    margin-left: 20px;
}

.exp-bar{
    width: 370px;
    height: 20px;
    background-color: greenyellow;

}

.coin-level{
    width: 40px;
    height: 60px;
    background-color: azure;
}

.coin{
    width: 10px;
    height: 10px;
    background-color: yellow;
    display: inline-flex;
}


.coin-level h4{
    color: blue;
    font-size: 40px;
}

.coin-level h5{
    display: inline;
}


/* task menu */

.task-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-task{
    width: 100%;
    height: 40px;
    background-color: red;
    text-align: center;padding-top: 15px;
    margin-bottom: 5px;
}

.nav-task a{
    font-family: poppins;
    text-decoration: none;
    color: white;
    padding: 10px;
}

/*  Task content*/

#section-task
{display: block;
}

#task-content{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.task{
    display: flex;
    width: 70%;
    height: 40px;
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 20px;
}

.task-completed{
    display: flex;
    width: 70%;
    height: 40px;
    background-color: gray;
    color:white;
    padding: 20px;
    margin-top: 20px;
/*menu add task */
}

#close-task{
    margin-left: 20px;
    font-size: 30px;
    color: blue;
}

.delate-task{
    margin-right: 20px;
}
/*main-and-tasks */

.main-and-tasks{
    width: 100%;
    height: 40px;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: beige ;
    margin-top: 40px;
}

#open-task{
    width: 70%;
    margin-right: 12%;
}

.main-menu{
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    text-align: left;
    margin-left:  40px;

}



/*habits-content*/
#section-habit{
    display: none;
    background-color: mediumvioletred;
}

#habit-content{

    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
/* ------- */
.main-and-habit{
    width: 100%;
    height: 40px;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: beige ;
    margin-top: 40px;
}

#open-habit{
    width: 70%;
    margin-right: 12%;
}

.main-menu{
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    text-align: left;
    margin-left:  40px;
}

/*random section */

#section-random{
    display: none;
    background-color: goldenrod;
}

.random-content{

    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
/* ------- */
.main-and-random{
    width: 100%;
    height: 40px;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: beige ;
    margin-top: 40px;
}

#open-random{
    width: 70%;
    margin-right: 12%;
}

.main-menu{
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    text-align: left;
    margin-left:  40px;
}

/* 2.-Add tasks menu*/

/*container and section */

#container-add-task{
    width: 100%;
    height: 100%;
    background-color: red;
    display: none;
    align-items: center;
    justify-content: center;
    position:absolute;
    z-index: 10000;
    
}


.section-add-task{
    width: 500px;
    height: 600px;
    background-color: bisque;
}

/*nav*/

.nav-section{
    width: 500px;
    height: 50px;
    background-color: blueviolet;
    display: flex;
    
}

.text-mision{
    width: 70%  ;
    text-align: center;
    
}

.text-mision h3{
    margin-top: 15px;
}

.button-back{
    width: 15%;
    height: auto;
    background-color: aquamarine;
    
}

.done-button{
    width: 15%;
    height: auto;
    background-color: aquamarine;
}

/* inputs */

.task-title-description{
    padding: 40px;
    height: 120px;
    background-color: chocolate;
}

#input-task{
    color:white;
    display: block;
    border: none;
    background-color: transparent;
    border-bottom: solid black 1px;
    margin-bottom: 20px;
}

#input-description{
    color:white;
    border: none;
    background-color: transparent;
    border-bottom: solid black 1px;
    margin-bottom: 20px;
    display: block;
}

  
/*Container habits */

#container-add-habit{
    width: 100%;
    height: 100%;
    background-color: red;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;

    z-index: 10000;
    
}


.section-add-habit{
    width: 500px;
    height: 600px;
    background-color: bisque;
}

/*nav*/

.nav-section{
    width: 500px;
    height: 50px;
    background-color: blueviolet;
    display: flex;
    
}

.text-habit{
    width: 70%  ;
    text-align: center;
    
}

.text-habit h3{
    margin-top: 15px;
}

.button-back{
    width: 15%;
    height: auto;
    background-color: aquamarine;
    
}

.done-button{
    width: 15%;
    height: auto;
    background-color: aquamarine;
}


/*inputs habitos */

.habit-title-description{
    padding: 40px;
    height: 120px;
    background-color: chocolate;
}

#input-habit{
    color:white;
    display: block;
    border: none;
    background-color: transparent;
    border-bottom: solid black 1px;
    margin-bottom: 20px;
}

#input-description_habit{
    color:white;
    border: none;
    background-color: transparent;
    border-bottom: solid black 1px;
    margin-bottom: 20px;
    display: block;
}

#close-habit{
    margin-left: 20px;
    font-size: 30px;
    color: blue;
}

/* Tarjets habits */

.habit{
    display: flex;
    width: 70%;
    height: 40px;
    background-color: aquamarine;
    padding: 20px;
    margin-top: 20px;
}

