*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    max-width: 100%;
    background-color: #f9f9f9;
    
    
}
.content-app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.app{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;
    
}


header{
    width: 100%;
    height: auto;
    display: flex;
    

    
}

header nav{
    background-color: #c6c2fe;
    display:flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
    box-shadow: 0px 8px 11px -2px rgba(0,0,0,0.16);
    
    
}

.input-img-perfil{
    display: none;
}

.perfil-picture{

    
    height: 120px;
    width: 120px;
    min-width:120px;
    border: 3px solid #003a5d;
    border-radius: 50%;
    background-color: #2b729e ;    
    transition: ease-out 200ms;
    cursor: pointer;
}

.perfil-picture:hover{
    transform: scale(1.04);
}

.hero-description{
    width: 100%;
    margin-left: 20px;
}

.exp-bar{
    width: 400px;
    height: 20px;
    border: solid  2px #003a5d;
    border-radius: 7px;

}

.progress{
    width: 0%;
    max-width: 100%;
    height: 20px;
    background-color: #30DA08;
    transition: 0.7s, left;
    border-radius: 7px;
    left:0%;

}

.coin-level{
    width: 40px;
    height: 60px;
    background-color: azure;
}

.coin{
    width: 10px;
    height: 10px;
    
    display: inline-flex;
}


.coin-level h4{
    color: blue;
    font-size: 40px;
}

.coin-level h5{
    display: inline;
}


/* task menu */

.task-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.nav-task{
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    background-color: #f9f9f9;
}

.nav-noaction{
    font-family: poppins;
    text-decoration: none;
    color: #003a5d;
    padding: 10px;
}

.nav-action{
    font-family: poppins;
    text-decoration: none;
    color: white;
    background-color: #003a5d;
    border-radius: 9px;
    padding: 10px;
    
}
/*  Task content*/

#section-task{
    background-color: #f9f9f9;
}

#task-content{
    
    width: 80%;
    text-align: justify;
    margin: auto;
    padding-bottom: 20px;
   
    
    }
/***task card**/
.task{
    display: inline-flex;
    width: 25%;
    min-width: 300px;
    height: 100px; ;
    min-height:65px;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 11px -2px rgba(0,0,0,0.16);
}


.container-task{
    width: 75%;
    height: 80%;
    max-width: 80%;
    padding-left: 20px;
    margin-top: 15px;
   
}

.title{
    
    font-size: 16px;
    font-weight: 800;
}

.description{
    font-size: 14px;
    font-weight: 300;
    height: auto;
}
.check-container{
    background-color: #c6c2fe;
    width: 50px;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    

}
.delate-container{
    background-color: #c6c2fe;
    width: 50px;
    height: 100%;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.task-complete-false{
    border-radius: 250px;
    width: 20px;
    height: 20px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    z-index: 100;
    cursor: pointer;
}

.task-complete-false:hover{
    border-radius: 250px;
    width: 20px;
    height: 20px;
    background-color: #54e823;
    transition: 0.2s;
    margin: auto;
    margin-top: 20px;
    z-index: 100;
    cursor: pointer;
}



.task-complete-true{
    border-radius: 250px;
    width: 20px;
    height: 20px;
    margin: auto;
    margin-top: 20px;
    z-index: 100;
    cursor: pointer;
    background-color: white;
}

.task-complete-true:hover{
    border-radius: 250px;
    width: 20px;
    height: 20px;
    margin: auto;
    margin-top: 20px;
    z-index: 100;
    cursor: pointer;
    background-color: #54e823;
    transition: 0.2s;
}

.task-completed{

    display: inline-flex;
    width: 25%;
    min-width: 100px;
    height: 100px; ;
    min-height:65px;
    background-color: gainsboro;
    margin: 20px;
    box-shadow: 0px 8px 11px -2px rgba(0,0,0,0.16);
    filter: grayscale(100);
    border-radius: 15px;
   
}

/*menu add task */


#close-task{
    
    margin-left: 20px;
    font-size: 30px;
    color: blue;
    cursor: pointer;
    
}

.delateTask{
    color:#003a5d;
    background-color: transparent;
    border: 0;
    font-size: 27px;
    margin-top: 12px;
    z-index: 200;
    cursor: pointer;
}

.main-and-tasks{
    position: fixed;
    bottom: 20px;
    right: 20px;
   
    
}
.section-open-task-menu{
    width:100px;
    min-width: 100px;
    height: 100px;
    border-radius:50px;
    border: 1px solid rgb(91, 182, 91);    
    box-shadow: 0px 8px 8px -2px rgba(0,0,0,0.21);
}

.section-open-task-menu:hover{
    transform: scale(1.06);
    transition: 0.5s;
}


#open-task{
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  
    
}


.icon{
    width: 40px;
    height: 40px;
    text-align: center;
    background-image: url('../Assets/icons/plus.png');
    background-size: cover;
    background-repeat: none;

}

/*habits-content*/
#section-habit{
    background-color: #f9f9f9;
    
    display: none;
}

#habit-content{

    width: 80%;
    height: var(--margin-box);
    text-align: justify;
    margin: auto;
}
/* ------- */
.main-and-habit{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#open-habit{
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#open-habit p{
    padding-top: 10px;
    padding-left: 20px;
    color: #b2b2b2;
}

.main-menu-habit{
    width: 30px;
    height: 100%;
    background-image: url(https://www.samueldiosdado.com/wp-content/uploads/2017/08/Men%C3%BA-hamburguesa-herramienta-practica-o-icono-inutil.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    background-color: white;
    background-position-y: center;
    border-right: solid white 15px;
}



/*random section */

#section-random{
    background-color: #f9f9f9;
    display: none;
}

#random-content{

    width: 80%;
    height: var(--margin-box);
    text-align: justify;
    margin: auto;
}
/* ------- */
.main-and-random{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#open-random{
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#open-random p{
    padding-top: 10px;
    padding-left: 20px;
    color: #b2b2b2;
}

.main-menu-random{
    width: 30px;
    height: 100%;
    background-image: url(https://www.samueldiosdado.com/wp-content/uploads/2017/08/Men%C3%BA-hamburguesa-herramienta-practica-o-icono-inutil.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    background-color: white;
    background-position-y: center;
    border-right: solid white 15px;
    
}

/* 2.-Add tasks menu*/

/*container and section */

#container-add-task{
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(80%) blur(2px);   
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10000;
    
}



/*nav agg task*/ 

.nav-section{
    width: 100%;
    height: 130px; 
    margin-bottom: 20px;   
}

.text-mision{
    width: 100%  ;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;

    
}

.text-mision h3{
    margin-top: 15px;
}

.button-back{
    width: 95%;
    height: auto;
    text-align: right;
    
}

.done-button{
    width: 100%;
    height: 50px;
    display: blockf;
    background-color: #c6c2fe;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    
}

.done-button-container{
width: 100%;
padding-left: 50px;
padding-right: 50px;
padding-top: 10px;

}



/* inputs */

.task-title-description{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;

}

.task-title-description p{
    color: #46436e;
    font-size: 13px;
    font-weight: 600;
    margin-top: 2px;
    font-size: 14px;
}

.section-add-task{
    width: 500px;
    height: auto;
    background-color: #F9F9F9;
    border-radius: 25px;
    }

.hero-name{
    display: inline;
}    
.hero-description-text{
    display: inline;
    
}

.button-edit-name{
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
    cursor: pointer;
}
.button-edit-description{
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
    cursor: pointer;
}


#input-task{
    background-color: #e5e5e5 ;
    width: 380px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
}



#input-description{
    background-color: #e5e5e5 ;
    width: 380px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;    
}

#done-button-task{
    background-color: white;
    color:#003a5d ;
    border-radius: 9px;
    padding: 5px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}



#cancel-button{
    background-color: white;
    color:#003a5d ;
    border-radius: 9px;
    padding: 5px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;
    cursor: pointer;
}

  
/*Container habits */

#container-add-habit{
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(80%) blur(2px);   
    display: none;
    align-items: center;
    justify-content: center;
    position:absolute;
    z-index: 10000;    
}


.section-add-habit{
    width: 500px;
    height: auto;
    background-color: #F9F9F9;
    border-radius: 25px;
}

/*nav*/

.text-habit{
    width: 100%  ;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.text-habit h3{
    margin-top: 15px;
}

/*inputs habitos */

.habit-title-description{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
}

#input-habit{
    background-color: #e5e5e5 ;
    width: 380px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
}

#input-description_habit{
    background-color: #e5e5e5 ;
    width: 380px;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;  
}

#close-habit{
    margin-left: 20px;
    font-size: 30px;
    color: blue;
    cursor: pointer;
}

#done-button-habit{
    background-color: white;
    color:#003a5d ;
    border-radius: 9px;
    padding: 5px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}



/* Tarjets habits */

.habit{
    display: inline-flex;
    width: 25%;
    min-width: 100px;
    height: 100px; ;
    min-height:65px;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 11px -2px rgba(0,0,0,0.16);
}

.container-habit{
    width: 75%;
    height: 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-top: 10px;
}

.container-counter{
    display:flex;
    padding-top: 40px;
    margin-right: 5px;
}
.container-counter p{
    font-weight: bold;
    
    font-size: 14px;
}

.select-task{
    cursor: move;
}

.fantasma{
    opacity: 0;
    cursor: move;   
}
